// 加载图标样式
@import "./icon.scss";
// 加载处理各种浏览器的默认样式
@import "./normalize.css";

// 全局样式
body {
    background-color: #f5f7f9;
}

.van-nav-bar {
    background-color: $nav-bgcolor;
    .van-nav-bar__title {
      color: $text-color;
    }
    .van-icon {
      color: $text-color;
    }
  }
